.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20em;
    height: 100%;
    gap: 1em;
    transition: all 1s ease;
    overflow: auto;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.buttons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.login {
    justify-content: space-between;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.loginForm img {
    height: 2.5em;
    width: 2.5em;
    display: block;
    margin-bottom: 0.4em;
}

.loginForm h2 {
    font-size: 2em;
    letter-spacing: 1px;
    color: var(--ligth-theme-color);
}

.change_form,
.forget_password {
    cursor: pointer;
    position: relative;
    letter-spacing: 1px;
    font-weight: bold;
}

.forget_password {
    color: var(--alert-color);
    font-size: 0.9em;
}

:where(.change_form, .forget_password)::before {
    content: "";
    background-color: var(--ligth-font-color);
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.forget_password::before {
    background-color: var(--alert-color);
}

:where(.change_form, .forget_password):hover::before {
    width: 100%;
}

.form_visible {
    opacity: 1;
    transform: translateY(0);  
}

.form_hidden {
    opacity: 0;
    transform: translateY(10em); 
}

.empty_field_alert {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    color: var(--alert-color);
    letter-spacing: 1px;
}

@media screen and (max-width: 720px) {
    .loginForm {
        width: 100%;
        height: 100%;
        transition: opacity 1s ease, transform 1s ease 1s;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1em;
        overflow: auto;
    }

    .form_visible {
        opacity: 1;
        transform: translateY(0)
    }
    
    .form_hidden {
        opacity: 0;
        transform: translateY(100%);
    }

    .loginForm h2 {
        font-size: 2em;
        letter-spacing: 1px;
        color: var(--ligth-theme-color);
    }
}